.app{
  height: 100%;
  background-color: white;

}
.phonebook{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: dodgerblue;
  gap: 20px;
}
.persons-table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;

}
.persons-row,.persons-header,.button-group{
  height: 60px;
}

.persons-row:nth-child(odd){
  background-color: whitesmoke;
}
.persons-header{
  background-color: dodgerblue;
  color:white;
}
.persons-name,.persons-number{
  width: 40%;
  padding:0px 20px;
}
.person-input{
  width: 90%;
  height: 30px;
}
.filter{
  color: white;
}

.filter__input{
  width: 300px;
  height: 30px;
}
.personform__btn-submit{
  padding: 5px 10px;
  height: 35px;
}
.personform__input{
  height: 30px;
}
.personform__form{
  display: flex;
  gap:5px;
  flex-direction: row;
  justify-content: center;
}
.btn-remove{
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor:pointer;
  font-size: 2rem;
}
.btn-remove:hover{
  color: grey;
}
.button-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.btn{
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.btn-primary{
  background-color:dodgerblue;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
.btn-edit{
  background-color:rgb(250, 166, 57);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
.message{
  position: absolute;
  top:0;
  width:100%;
  text-align: center;
 font-weight: light;
}
.message-error{
background-color: lightcoral;
}
.message-success{
  background-color: lightgreen;
}
.message >p{
  padding: 5px;
}