.error{
  background-color: tomato;
  width: 100%;
  position: absolute;
  top:0;
  text-align: center;
  color:aliceblue;
  padding-top:10px;
  padding-bottom: 10px;
}
.blog{
  padding-top: 10px;
  padding-bottom: 2px;
  border:1px solid black;
  margin-bottom: 5px;
}